/* ---------------------------------- FONTS --------------------------------- */

@font-face {
	font-family: "Font1";
	src: url("../assets/fonts/FiraCode-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Font2";
	src: url("../assets/fonts/FiraCode-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Font3";
	src: url("../assets/fonts/FiraCode-SemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Font4";
	src: url("../assets/fonts/FiraCode-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Font5";
	src: url("../assets/fonts/FiraCode-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* --------------------------------- SPACING -------------------------------- */
$body-margin: 400px;
$body-margin-mobile: 20px;
$body-margin-tab: 25px;
$body-margin-mac: 300px;
$body-margin-up: 96px;
$body-margin-up-mobile: 50px;

/* ---------------------------------- COLOR --------------------------------- */
$primary-color: #1d1f20;
$secondary-color: #fbfcf8;
$secondary-color-1: #9cb552;
$secondary-color-2: #bccd89;
$secondary-color-3: #ffdb43;

/* -------------------------------- FONT-SIZE ------------------------------- */
$heading: 32px;
$subheading: 26px;
$subheading-1: 22px;
$bodytxt: 18px;
$bodytxt-2: 16px; 
$bodytxt-3: 14px; 